.side-bar{
    -fx-background-color: #D5D6F2;
}
.sidebar-btn{
    -fx-background-color: transparent;
}

.sidebar-btn-icon{
    -fx-fill:grey;
}
.sidebar-btn-text{
    -fx-text-fill:grey;
}
.sidebar-btn:hover{
    -fx-border-width: 0px 0px 0px 3px;
    -fx-border-color: #2BBCF5;
    -fx-border-style:solid;
}
.sidebar-btn:hover .sidebar-btn-icon{
    -fx-fill:#2BBCF5;
}
.sidebar-btn:hover .sidebar-btn-text{
    -fx-text-fill:#2BBCF5;
}

.childpan{
    -fx-background-color:#b3b4b9;
}

.searchicon{
    -fx-border-color: #b3b4b9;
    -fx-border-width: 0px 0px 2px 0px;
}

.noit-icon{
    -fx-background-color:GREEN;
    -fx-background-radius:100%;
}

.txtfld{
    -fx-background-radius:0 20 20 20;
    -fx-background-color:white;
}

.txt-fld{
    -fx-background-radius:20 0 20 20;
    -fx-background-color:blue;
    -fx-text-fill:white;
}

.mic{
    -fx-graphic: url('mic.png');
    -fx-background-radius: 100;
    -fx-background-color: #979797;
}

.call{
    -fx-graphic: url('call.png');
    -fx-background-radius: 100;
    -fx-background-color: #979797;
}

.videocall{
    -fx-graphic: url('videocall.png');
    -fx-background-radius: 100;
    -fx-background-color: #979797;
}